html {
  height: 100vh;
  font-family: sans-serif;
}

body {
  height: 100vh;
}

.cards-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9998; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  text-align: center;
  color: white;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */

  span::hover {
    cursor: pointer;
  }
  span {
    z-index: 9999;
    background-color: gray;
    padding: 5px 4px 0 4px;
    font: bold 25px/25px Helvetica, Verdana, Tahoma;
    border: 2px solid white;
    height: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    min-width: 25px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin: 5px;
    box-shadow: 1px 1px 1px black;
  }
}

.card-name {
  display: flex;
  font-family: sans-serif;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(173, 216, 230, 1);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.card-name:hover {
  background-color: rgb(123, 187, 209);
  transform: scale(2);
  transition: transform 0.25ms ease-in;
  cursor: pointer;
}

.cards-container {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.card-title {
  font-size: 2rem;
  font-family: sans-serif;
  padding: 1rem 0;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 3rem;
}

.card-summary {
  background-color: rgba(173, 216, 230, 1);
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
  border-radius: 10px;
  width: 85%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.card-details {
  background-color: rgba(173, 216, 230, 1);
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
  border-radius: 10px;
  width: 85%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.card-details:last-child {
  background-color: rgba(173, 216, 230, 1);
  font-family: sans-serif;
  font-size: 1rem;
  color: black;
  border-radius: 10px;
  width: 85%;
}

.card-table th {
  text-align: center;
}

.card-table tr td {
  text-align: left;
  padding: 0 0.5rem;
  border: 1px;
}

.card-table-last-child tr {
  border: 1px solid black;
}

.site-container {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 99vh;
  max-width: 100%;
}

.site-content {
  flex-grow: 1;
}

.formol-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dates-set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: sans-serif;
  padding-bottom: 1rem;
}

.dates-set td {
  padding: 1rem 1.25rem;
}

.dates-set th {
  padding-top: 1rem;
}

.navbar {
  position: top;
  padding: 0;
  width: 100%;
  min-width: 100px;
  top: 0;
  left: 0;
  display: fixed;
  height: 64px;
  background-image: linear-gradient(to right, lightblue, lightgray);
}

.navbar__navigation {
  display: flex;
  padding: 0;
}

.toggle-button {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 64px;
  width: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button__line {
  width: 40px;
  height: 5px;
  background-color: white;
}

.spacer {
  flex: 1;
}

.navbar-navlink-logo {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  height: 2.5rem;
}

.navbar__navlinks ul {
  padding: 0;
  margin: 0;
}

.navbar__navlinks li,
a {
  padding: 0;
  list-style: none;
  display: flex;
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
  margin-right: 1rem;
}

.navbar__navlinks li:hover,
a:hover,
li:active,
a:active {
  color: white;
}

.navbar__navlinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-drawer {
  height: 100vh;
  background: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  z-index: 200;
  transform: translate(-100%);
  transition: transform 0.6ms ease;
  background-image: linear-gradient(to right, lightblue, white);
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-drawer__links ul {
  list-style: none;
  padding: 0;
  margin: 2rem 0 2rem 2rem;
}

.side-drawer__links a,
li {
  padding: 0;
  list-style: none;
  display: flex;
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
  cursor: pointer;
}

.side-drawer__links a:hover,
li:hover {
  color: white;
}

.backdrop {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  background-image: linear-gradient(to right, lightblue, lightgray);
}

.footer a {
  text-decoration: none;
  font-size: 0.85rem;
  color: black;
  padding: 0 0 0 1rem;
}

.footer a:hover {
  color: white;
}

.mainsite {
  justify-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 5rem;
}

.home-logo {
  height: 5rem;
}

@media (max-width: 768px) {
  .navbar__navlinks {
    display: none;
  }
}

@media (min-width: 769px) {
  .toggle-button__display {
    display: none;
  }
}

@import "../node_modules/formol/src/sass/clean.sass";

.Formol_Field__element,
.Formol_Field--type-calendar .Formol_CalendarField,
.Formol_HTMLField,
.Formol_Field--type-select-menu .Formol_SelectMenuField,
.Formol_Field--type-checkbox .Formol_Field__label,
.Formol_Field--type-radio .Formol_Field__label,
.Formol_Field--type-checkbox-set .Formol_FieldSet__label,
.Formol_Field--type-radio-set .Formol_FieldSet__label,
.Formol_FileField,
.Formol_PasswordField__wrapper,
.Formol_SwitchButton input[type="checkbox"] + label {
  background-color: white;
  border: solid 1px;
  border-color: inherit;
  border-radius: 0.15em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #222f3e;
  font: inherit;
  margin: 0.5em 0;
  max-width: 100%;
  padding: 1.5em;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.Formol_Field .Formol_Field__label,
.Formol_Field--type-checkbox-set .Formol_FieldSet__label .Formol_Field__label,
.Formol_Field--type-radio-set .Formol_FieldSet__label .Formol_Field__label {
  border-color: lightblue;
}

.Formol_Field,
.Formol_Field--type-checkbox-set .Formol_FieldSet__label,
.Formol_Field--type-radio-set .Formol_FieldSet__label {
  color: black;
  margin: 2em 0;
  max-width: 100%;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
}

.Formol_Field--focus,
.Formol_Field--focus:hover {
  color: black;
}

.Formol_Field--focus .Formol_Field__label,
.Formol_Field--focus:hover .Formol_Field__label {
  border-color: black;
}

.Formol_Formol .Formol_Formol__submit,
.Formol_Formol .Formol_Formol__cancel {
  cursor: pointer;
  font: inherit;
}

.Formol_Formol .Formol_Formol__submit:disabled,
.Formol_Formol .Formol_Formol__cancel:disabled {
  cursor: not-allowed;
}

.Formol_Formol .Formol_Formol__submit {
  margin-right: 2.75em;
  margin-top: 2em;
}

.Formol_Formol .Formol_Formol__cancel {
  background: 0;
  border: 0;
  font-size: 0.85em;
  margin-bottom: 4em;
  padding: 0;
}
